venv/
__pycache__/
*.pyc


.vscode/backend/app/ml/models/smart_home_model.pkl
backend/app/ml/models/smart_home_model.pkl
backend/app/ml/models/smart_home_model.pkl
node_modules/
node_modules/
backend/app/ml/models/smart_home_model.pkl
